# Node.js modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
